.reservations-container {
  .nav-tabs {
    border-bottom: none !important;
    flex-direction: column !important;
    // display: none !important;
  }
  border: 1px solid black;
  background-color: white;

}

#spaceships {
  display: flex;
  flex-wrap: wrap;
}

.listing-container {
  .card {
    padding: 0 !important;
  }
  height: 80vh;
}

.listing-image img {
  height: auto !important;
}

.current-trips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.past-trips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}