<h1>pages#dashboard</h1>
<h2>This is the dashboard</h2>

<p>there is a tab thingy here where you can switch between your bookings and your spaceships, your rented out spaceships</p>

<p>These are the current bookings</p>

<p>These are the past bookings</p>

<p>if there is the spaceship listings tab open, then the user would see theirs spaceships w actions required </p>
