<div class="banner" style="background-image: linear-gradient(rgba(20, 4, 22, 0.2), rgba(20, 4, 22, 0.7)), url('<%= asset_path "7035.jpg" %>')">

  <div class="banner-content">
    <%= image_tag 'MyspaceBnbLogo.png', style:"width: 1000px;" %>
    <h1>Have some intergalactic travel coming up?</h1>
    <h2>We've got you covered.</h2>
    <a class="btn btn-primary" href="#" id="homepage-btn">Book your spaceship now   <i class="fas fa-rocket"></i></a>
  </div>
</div>

