<div class="container text-center">
  <h1>Pages#home</h1>
  <div class="container d-flex justify-content-center">

    <%= cl_image_tag("zspbkpbev4f4ivucqf6t", height: 600, width: 450) %>
  </div>
</div>
