<h1>Spaceships#index</h1>
<p>Find me in app/views/spaceships/index.html.erb</p>
<div class="card" style="width: 18rem;">
    <%= image_tag 'xwing.jpg', class: 'card-img-top'%>
  <div class="card-body">
    <h5 class="card-title">Fantastic X-Wing (only used few times)</h5>
    <p class="card-text">I am renting my X-Wing that I only used 3 times since I will be in Tattooine for a month</p>
    <a href="#" class="btn btn-primary">Book now!</a>
  </div>
</div>
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Fantastic X-Wing (only used few times)</h5>
    <p class="card-text">I am renting my X-Wing that I only used 3 times since I will be in Tattooine for a month</p>
    <a href="#" class="btn btn-primary">Book now!</a>
  </div>
</div>

spaceships/xwing.jpg