<div class="index-header">
  <h1>To infinity and beyond...</h1>
  <p>Book your dream spaceship for your next intergalactic adventure!</p>
</div>
  <div class="index-spaceships">
    <% @spaceships.each do |spaceship| %>
      <%= link_to spaceship do %>
        <div class="col-md-3 small-card-col">
          <%= render 'spaceships/small-card', spaceship: spaceship %>
        </div>
      <% end %>
    <% end %>
  </div>
