<h1>Spaceships#new</h1>
<p>Find me in app/views/spaceships/new.html.erb</p>

<div class="container-add">
  <h1>Add your spaceship</h1>

  <%= render 'form', spaceship: @spaceship %>

  <%= link_to "Back to spaceships", spaceships_path %>
</div>
