<div class="container new-card-container new-card ">
<div class="container-add d-flex flex-column align-items-center">
  <h1 >Add your spaceship <i class="fas fa-rocket"> :</i></h1>
  <%= render 'form', spaceship: @spaceship %>
</div>
</div>

