<div class="container-add d-flex flex-column align-items-center">
  <h1>Add your spaceship</h1>
  <%= render 'form', spaceship: @spaceship %>
  <%= link_to "Back to spaceships", spaceships_path %>
</div>
