.home-card {
    display: flex;
    margin-bottom: 10px;
    border: none;
    margin-right: 3em;
  }

  .home-ships {
    display: flex;
    width: 70vw;
    justify-content: space-around;
  }

  .home-ships p {
    color: black;
  }

#trips{
  .card {
    display: flex;
    margin-bottom: 10px;
    border: none;

  }
}
