<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>
<div class="container-add">
  <h1>Add a Review</h1>

  <%= render 'form', spaceship: @spaceship, review: @review %>

  <%= link_to "Back to spaceships", spaceships_path %>
</div>
